/* * {
    outline: blue dotted 2px;
} */

body {
    margin: 0px;
    padding: 5px;
    font-size: 24px;
    font-family: arial;
    /* background-color: green; */
}

main {
    margin: 0 0;
    padding: 0 0 30px 0;
    /* background-color: rgb(221, 175, 175); */
}


header {
     /* background-color: rgb(221, 175, 175); */
     padding-top: 40px;
     /* outline: blue dotted 2px; */
     text-align: center;
}

.padding {
    padding-top: 150px;
}


 header h1 {
     margin-top: 0px;
     text-align: center;
     font-size: 50px;
 }


header > div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

header > div > p {
    /* outline: red dotted 2px; */
    width: 100%;
    margin: 5px 0px;
    padding: 5px 0px;
}

form {
    /* outline: green dashed 3px; */
    padding-top: 10px;
}

input {
    font-size: 20px;
    text-align: center;
}

.start-form {
    text-align: center;
}

.submit-div {
    text-align: center;
}

ul {
    list-style-type: none;
}

.question {
    padding: 15px;
}

.current-question {
    margin-right: 120px;
}

.startpic {
    width: 50%;
    border-radius: 30%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


button {
    border-radius: 40%;
}

.center {
    text-align: center;
}