* {
    outline: blue dotted 2px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: arial;
    margin: 1%;
}

main {
    margin: 5% 0%;
    /* background-color: rgb(221, 175, 175); */
}

/* 
header {
     background-color: rgb(221, 175, 175);
}
 */

 header h1 {
     /* outline: blue solid 2px; */
     /* margin-top: 20px; */
     text-align: center;
     font-size: 50px;
 }


header > div {
    /* outline: green solid 2px; */
    display: flex;
    justify-content: space-around;
}

header > div > p {
    /* outline: red dotted 2px; */
    margin: 10px 5px;
}

form {
    /* outline: green dashed 3px; */
    padding-top: 50px;
    /* text-align: center; */
}

input {
    font-size: 20px;
    
}

#question-submit {
    margin-left: 45%;
}

ul {
    list-style-type: none;
}

.question {
    padding: 50px;
}

.current-question {
    margin-right: 120px;
}