/* * {
    outline: blue dotted 2px;
} */

body {
    margin: 0px auto;
    padding: 0px;
    font-size: 24px;
    font-family: arial;
    background-color: rgb(163, 41, 41);
    max-width: 960px;

}

main {
    margin: 0% 5%;
    padding: 0 0 30px 0;
    /* background-color: rgb(221, 175, 175); */
}


header {
     /* background-color: rgb(221, 175, 175); */
     padding-top: 20px;
     /* outline: blue dotted 2px; */
     text-align: center;
}

header h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
    color: white;
}


header > div {
   display: flex;
   flex-direction: column;
   margin-top: 10px;
}

header > div > p {
   /* outline: red dotted 2px; */
   width: 100%;
   margin: 5px 0px;
   padding: 5px 0px;
}

.scoreDiv {
    padding: 8px 0px;
}

input {
   font-size: 20px;
   text-align: center;
}


ul {
    list-style-type: none;
    padding: 0px 8%;
}

ul > li {
    padding-left: 20%;
}

input[type='submit'] {
    border-radius: 12px;
    padding: 5px 10px;
    border: 2px black solid;
    
}

.js-question-area {
    background-color: rgb(47, 218, 161);
    border-radius: 30px;
    margin-top: 10px;
}

.padding {
    padding-top: 120px;
}

.start-form {
    text-align: center;
    padding: 20px 0px;
}

.trackers {
    background-color: rgb(52, 243, 233);
    border-radius: 20px;
    font-size: 20px;
    margin: 2% 15%;
}

.submit-div {
    text-align: center;
}

.question {
    padding: 20px;
}

.current-question {
    margin-right: 120px;
}

.startpic {
    width: 50%;
    border-radius: 30%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}


.center {
    text-align: center;
}


input[type='radio'] { transform: scale(1.5); }